
<div class="jumbotron text-center">
	<h1 class="all-supervisors-title"><span class="fa fa-lock"></span> Admin?</h1>
	<div id="jumb-description">
        <p class="all-supervisors-title">If you are a supervisor, click on the link you recieved for data manipulation.</p>
		<p class="all-supervisors-title">Login as admin to see the reports:</p>
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Admin Login</a>
		
	</div>

</div>

<div class="container">
	

</div>