
<div class="container" id="form-container">
  <h3>Welcome {{name}} {{lastName}}</h3>
  <p>Please select the store you desire to be your host: </p>
  


<form id="choose-store-form">
  <div class="form-group">
    <label for="storeID">Desired Store:</label>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6"><input type="text" class="form-control" id="storeID" placeholder="Enter Store ID"></div>
        <div class="col-lg-6 col-md-6 col-sm-6"></div>
       
    </div>
    
  </div>

 
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
    

  
  
</div>