
.all-supervisors-title {

text-align: center;
}
#jumb-description{
    margin-top: 29px;
}
#form-container{
    margin-top: 30px;
}
#choose-store-form{
    margin-top: 30px;
}
.warning{
    color: red;
}