
.all-supervisors-title {

text-align: center;
}
#jumb-description{
    margin-top: 29px;
}
#form-container{
    margin-top: 30px;
}
#choose-store-form{
    margin-top: 30px;
}
.warning{
    color: red;
}
#no-border1, #no-border2, #no-border3, #no-border4{
    border-top-style:none;
}
.green-report{
    font-size: 25px; 
    margin-right:10px;
    color:green;
}
#report-title{
    display: inline;
}
#dashboard-container{
    margin-top: 40px;
}
#report-title{
    display:inline;
}